body{
  font-family: 'Dancing Script';
  background-color: #02010a;
}
img {
  box-shadow: 2px 2px #02010a;
}
@keyframes entrada {
  0%{
    margin-top: 150%;
  }
  60%{
    margin-top: -5%;
  }
  100%{
    margin-top: 0%;
  }
}
header{
  -webkit-animation: entrada 2s;
  -moz-animation: entrada 2s;
  -o-animation: entrada 2s;
  animation: entrada 2s;
}
header{
  background-color: #5b7989;
  -webkit-border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  -o-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
  padding: 15px;
}
h1 {
  color: white;
  text-shadow: 2px 2px #02010a;
}
h2 a {
  color: white;
}
h2 .pagactual{
  text-decoration: none;
}
#secimgcentral {
  background-color: #82c3a6;
  padding: 15px;
}
#secimgcentral #imgcentral{
 display: block;
 margin: auto;
}
.derecha, .izquierda{
  width: 100%;
}
.secimgsec {
  background-color: #d5c75f;
  border: 1px;
  padding: 15px;
  display: flex;
  flex-flow: row wrap;
}
.galeria{
  border: 1px;
  padding: 15px;
  display: flex;
  flex-flow: row wrap;
  background-color: #d5c75f;
}
.d1, .d2, .d3, .d4, .d5, .d6{
  width: 100%;
}
.i1, .i2, .i3, .i4, .i5, .i6{
  width: 100%;
  display: block;
  margin: 5px auto;
}
.i1{
  -webkit-filter: blur(10px);
  filter: blur(10px);
}
.i2, .i4, .i6{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.i3{
  -webkit-filter: sepia(90%);
  filter: sepia(90%);
}
.imgizq, .imgdere{
  width: 100%;
}
figcaption{
  padding: 10px;
  text-align: center;
  color: black;
  text-decoration: none;
}
figcaption a{
  color: black;
  font-size: 150%;
  font-weight: bold;
}
.imgizq{
  -webkit-ransform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: transform 2s;
}
.imgizq:hover {
  -webkit-ransform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
  box-shadow: 2px 2px #82c3a6;
  border: 2px;
}
.imgdere{
  transition: transform 2s;
  transform: translate(0px,0px);
  -ms-transform: translate(0px,0px);
  -webkit-ransform: translate(0px,0px);
}
.imgdere:hover{
  box-shadow: 2px 2px #82c3a6;
  border: 2px;
  -webkit-ransform: translate(20px,-5px);
  -ms-transform: translate(20px,-5px);
  transform: translate(20px,-5px);
}
footer{
  -webkit-border-radius: 0px 0px 10px 10px;
  -moz-border-radius: 0px 0px 10px 10px;
  -o-border-radius: 0px 0px 10px 10px;
  border-radius: 0px 0px 10px 10px;
  background-color: #C6d5c5;
  color: black;
  padding: 15px;
  display: flex;
  flex-flow: column wrap;
}
.contacto a{
  color: black;
}
.titulos, .contenido{
  width: 100%;
  text-align: center;
  display: block;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
}
.insta, .twitter, .facebook{
  box-shadow: 0px 0px black;
  width: 100%;
}
.derechos, .redes, .terminos, .contacto{
  width: 100%;
  text-align: center;
  display: block;
  margin: auto;
}
@media all and (min-width: 900px) {
  #contenido{
    width: 900px;
    display: block;
    margin: auto;
  }
  h1{
    text-align: left;
    display: inline;
  }
  h2 {
    display: block;
    margin: auto;
    float: right;
  }
  .derecha, .izquierda{
  width: 50%;
  }
.imgizq, .imgdere {
  width: 90%;
  display: block;
  margin: auto;
  }
  .derechos, .redes, .terminos, .contacto{
    width: 25%;
  }
  .insta, .twitter, .facebook{
    width: 10%;
    display: inline;
  }
  .titulos, .contenido{
    width: 100%;
  }
  .h3{
    display: none;
  }
  .d1, .d2, .d3, .d4, .d5, .d6{
    width: 33.33%;
  }
  .i1, .i2, .i3, .i4, .i5, .i6{
    width: 90%;
  }
}
@media all and (max-width: 900px) {
  #contenido{
    width: 100%;
    display: block;
    margin: auto;
    }
    h1{
      text-align: center;
      display: block;
      margin: auto;
    }
    h2 {
      padding: 15px;
      display: block;
      margin: auto;
      text-align: center;
    }
    #imgcentral{
      width: 90%;
    }
    .derecha, .izquierda{
      width: 100%;
      padding: 15px;
    }
    .imgizq, .imgdere{
      width: 100%;
      display: block;
      margin: auto;
    }
    .derechos, .redes, .terminos, .contacto{
      width: 100%;
    }
    .insta, .twitter, .facebook{
      width: 10%;
      display: inline;
    }
    .titulos {
      display: none;
    }
   .contenido{
      width: 100%;
    }
}
